#app-toolbar {
  .headline {
    display: flex;
    align-items: center;

    #app-logo {
      fill: currentColor;
      width: 36px;
      height: 36px;
      margin-right: 12px;
    }
  }
  .search-input {
    max-width: 300px;
  }
}

#app-footer {
  font-size: 14px;
}

.card-list {
  margin: 0 16px 16px 16px;

  &.cards {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
  }

  &.no-cards {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 1px 3px rgba($color: #000000, $alpha: 0.1);
    padding: 32px;
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  &.refreshing {
    .pipeline-card {
      opacity: 0.7;
    }
  }

  .cards-empty,
  .cards-loading,
  .cards-failed {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pipeline-card {
    width: 100%;
    background-color: white;
    min-height: 300px;
    border-radius: 3px;
    overflow: hidden;
    transition: all .3s ease-out;
    display: flex;
    flex-direction: column;

    .card-title {
      height: 100px;
      background-position: center center;
      background-size: cover;
      padding: 12px 16px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      .title-elements {
        display: flex;
        flex-direction: column;

        span {
          line-height: 125%;
        }
        .subtitle {
          font-size: 13px;
          opacity: .7;
        }
      }

      .v-btn {
        margin-right: -8px;
        margin-bottom: -5px;
      }
    }

    .card-stages {
      display: flex;
      flex-grow: 1;
      padding: 16px;
      justify-content: stretch;
    }

    &.vue {
      .card-title {
        background-image: url('./assets/project-backgrounds/vue.gif');
      }
    }
  }
}

.stages-component {
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 100%;

  .stage {
    display: flex;
    flex: 1;
    margin-right: 8px;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px;
    min-width: 0;
    border: 3px solid rgba($color: #000000, $alpha: 0.2);

    &:last-child {
      margin-right: 0;
    }
  }
}

.actions-component {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 0;
  max-width: 100%;

  .action {
    display: flex;
    flex: 1;
    margin-right: 5px;
    border-radius: 3px;
    overflow: hidden;
    min-width: 0;
    justify-content: center;
    transition: all .2s ease-out;

    &:last-of-type {
      margin-right: 0;
    }

    &.in-progress {
      animation: in-progress-color-change 1s infinite linear alternate;
      
      .v-icon {
        animation: spin .7s infinite linear;
      }
    }
    &.unset {

    }
    &.succeeded {

    }
    &.failed {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
}

.shaking {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes in-progress-color-change {
  from { background-color: #1976d2 }
  to { background-color: #4799ea }
}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

